<!DOCTYPE html>
<html lang="en" id="theme" class="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/cdn-cgi/apps/head/hwGM7B4uQy9K8KyLEDAfJqNEXmU.js"></script><link rel="shortcut icon" href="/assets/images/auction-fevicon.png">
    <title>Winner</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="/assets/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css">
</head>

<body>
    <!-- start preloader -->
    <div class="preloader bg-light" id="preloader">
        <span class="preloader-inner"></span>
    </div>
    <div class="toggle-theme d-none">
        <input type="checkbox" class="changeTheme" id="changeTheme">
        <label for="changeTheme" class="m-auto"></label>
    </div>
    <div class="win-wrapper text-center" id="win-wrapper" style="background-image: url('/assets/images/model-bg.svg')">
        <div class="px-3">
            <div class="winner-block">
                <img src="/assets/images/winner.svg" alt="winner">
                <h2>Congratulations</h2>
                <p>With a winning bid of <%= bid.amount %>, you've triumphed successfully for <%= bid.product.name %> by <%= bid.user.firstname %> <%= bid.user.lastname %>.</p>
                <% let publisherKey = "pk_test_51P90KUSJcI6FJDtQYv4PNcHezsF99I8oZnlor5LKzl384KWoVxjXOoCKvf3VTwn3XwHI1ofU3NLaKATX1e2NOSuX00jxVfjt83" %>
                <% let email = req.session.user.email %>
                <form action="/payment" method="post">
                    <input type="submit" class="primary-btn d-inline-block mb-3" value="Process Payment">
                    <input type="hidden" name="price" value="<%= bid.amount %>">
                    <input type="hidden" name="email" value="<%= email %>">
                    <input type="hidden" name="productName" value="<%= bid.product.name %>">
                    <input type="hidden" name="pk" value="<%= publisherKey %>">
                </form>
                <p class="text-danger">Please pay the amount in 72 hours to avoid losing the product.</p>
            </div>
        </div>
        
        
    </div>
    <!-- JavaScript Libraries -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                if (localStorage.storedValue == 'dark') {
                    $('#changeTheme').prop('checked', true);
                    $('#changeTheme1').prop('checked', true);
                    document.getElementById("theme").className = "dark";
                    document.getElementById('win-wrapper').style.backgroundImage = "url('/assets/images/model-bg-dark.svg')";
                }
                else {
                    $('#changeTheme').prop('checked', false);
                    $('#changeTheme1').prop('checked', false);
                    document.getElementById("theme").className = "light";
                    document.getElementsByClassName('win-wrapper').style.backgroundImage = "url('/assets/images/modal-bg.svg')";
                }

            });
        });
    </script>
<script>(function(){var js = "window['__CF$cv$params']={r:'8629bdebfe88032f',t:'MTcxMDE0MTIwNi40MTMwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script></body>

</html>