<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <meta name="description" content="Global Auction System">
    <meta name="keywords" content="Global Auction System">
    <meta name="csrf_token" content="Zw1eYq4tsFJFwBA8kJfLb6fP8Lt3xu69dsUILDfj">

    <link rel="icon" href="/public/uploads/settings/H0DUiWpMJYMGEPP.png" type="image/x-icon" />

    <title>Bidzone - Online auction and bidding</title>



    <link href="/public/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/adminlte/css/select2.min.css" />
    <link href="/public/adminlte/css/AdminLTE.min.css" rel="stylesheet">
    <link href="/public/adminlte/css/custom.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/public/css/global-admin.css" rel="stylesheet">

    <!-- <link href="/public/adminlte/css/skins/skin-blue.min.css" rel="stylesheet"> -->

    <link href="/public/css/sweetalert.css" rel="stylesheet" type="text/css">






    <link rel="stylesheet" href="/public/adminlte/css/online/jquery-ui.css">
    <link rel="stylesheet" href="/public/adminlte/css/online/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/public/adminlte/css/online/select.dataTables.min.css" />
    <link rel="stylesheet" href="/public/adminlte/css/online/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="/public/adminlte/css/online/jquery-ui-timepicker-addon.min.css" />
    <link rel="stylesheet" href="/public/adminlte/css/online/bootstrap-datepicker.standalone.min.css" />



    <!-- Font Awesome -->
    <link rel="stylesheet" href="/public/adminlte/css/online/font-awesome.min.css">


    <!-- Ionicons -->
    <link rel="stylesheet" href="/public/adminlte/css/online/ionicons.min.css">

    <link href="/public/css/admin.css" rel="stylesheet">


    <!--admin custom css-->
    <link href="/public/css/admin-custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>




<body class="hold-transition skin-blue sidebar-mini" ng-app="academia">



    <div id="wrapper">


        
        <%- include('seller_side_navbar') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-12">




                        <h3 class="page-title">Categories</h3>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Create
                            </div>



                            <div class="panel-body form-auth-style" id="app">
                                <div class="row">
                                    <% if (editMode) { %>
                                        <form method="POST" action="/seller/categories/<%= category._id %>" enctype="multipart/form-data" accept-charset="UTF-8" name="formValidate" novalidate="">
                                            <!-- Add enctype="multipart/form-data" to enable file uploads -->
                                            <input name="_token" type="hidden" value="Zw1eYq4tsFJFwBA8kJfLb6fP8Lt3xu69dsUILDfj">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="category" class="control-label">Category</label>
                                                    <span class="text-red">*</span>
                                                    <input class="form-control" placeholder="Category" required="true" ng-minlength="2" name="category" type="text" id="category" value="<%= category.name %>">    
                                                    <% if (errors && errors.category) { %>
                                                        <p class="text-red"><%= errors.category %></p>
                                                    <% } %>
                                                </div>
                                                <div class="form-group">
                                                    <label for="description" class="control-label">Description</label>
                                                    <textarea class="form-control" placeholder="Description" name="description" cols="50" rows="10" id="description"><%= category.description %></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="status" class="control-label">Status</label>
                                                    <span class="text-red">*</span>
                                                    <select class="form-control select2" ng-model="status" required="true" id="status" name="status">
                                                        <option <%= category.status === 'active' ? 'selected' : '' %> value="active">Active</option>
                                                        <option <%= category.status === 'inactive' ? 'selected' : '' %> value="inactive">Inactive</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="image" class="control-label">Image</label>
                                                    <input class="form-control" name="image" type="file" id="image">
                                                </div>
                                                <div class="form-group pull-right">
                                                    <button class="btn btn-success" type="submit">Update</button>
                                                </div>
                                                <% if (errors && errors.status) { %>
                                                    <p class="text-red"><%= errors.status %></p>
                                                <% } %>
                                            </div>
                                        </form>
                                    <% } else { %>
                                        <form method="POST" action="/seller/create_categories" enctype="multipart/form-data" accept-charset="UTF-8" name="formValidate" novalidate="">
                                            <!-- Add enctype="multipart/form-data" to enable file uploads -->
                                            <input name="_token" type="hidden" value="Zw1eYq4tsFJFwBA8kJfLb6fP8Lt3xu69dsUILDfj">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="category" class="control-label">Category</label>
                                                    <span class="text-red">*</span>
                                                    <input class="form-control" placeholder="Category" required="true" ng-minlength="2" name="category" type="text" id="category">    
                                                </div>
                                                <div class="form-group">
                                                    <label for="description" class="control-label">Description</label>
                                                    <textarea class="form-control" placeholder="Description" name="description" cols="50" rows="10" id="description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="status" class="control-label">Status</label>
                                                    <span class="text-red">*</span>
                                                    <select class="form-control select2" ng-model="status" required="true" id="status" name="status">
                                                        <option selected="selected" value="">Select</option>
                                                        <option value="active">Active</option>
                                                        <option value="inactive">Inactive</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="image" class="control-label">Image</label>
                                                    <input class="form-control" name="image" type="file" id="image">
                                                </div>
                                                <div class="form-group pull-right">
                                                    <button class="btn btn-success">Save</button>
                                                </div>
                                                <% if (errors && errors.status) { %>
                                                    <p class="text-red"><%= errors.status %></p>
                                                <% } %>
                                            </div>
                                        </form>
                                    <% } %>                                    
                                </div>
                            </div>
                            

                        </div>
                    </div>
            </section>
            </div>
        </div>

        <form method="POST" action="/logout" accept-charset="UTF-8" style="display:none;" id="logout"><input name="_token" type="hidden" value="Zw1eYq4tsFJFwBA8kJfLb6fP8Lt3xu69dsUILDfj">
            <button type="submit">Logout</button>
        </form>

        <script>
            window.deleteButtonTrans = 'Delete selected';
            window.copyButtonTrans = 'Copy';
            window.csvButtonTrans = 'CSV';
            window.excelButtonTrans = 'Excel';
            window.pdfButtonTrans = 'PDF';
            window.printButtonTrans = 'Print';
            window.colvisButtonTrans = 'Column visibility';
        </script>


        <script src="/public/adminlte/js/online/jquery-1.11.3.min.js"></script>
        <script src="/public/adminlte/js/online/jquery.dataTables.min.js"></script>
        <script src="/public/adminlte/js/online/dataTables.buttons.min.js"></script>
        <script src="/public/adminlte/js/online/buttons.flash.min.js"></script>
        <script src="/public/adminlte/js/online/jszip.min.js"></script>


        <script src="/public/adminlte/js/online/pdfmake.min.js"></script>
        <script src="/public/adminlte/js/online/vfs_fonts.js"></script>
        <script src="/public/adminlte/js/online/buttons.html5.min.js"></script>
        <script src="/public/adminlte/js/online/buttons.print.min.js"></script>
        <script src="/public/adminlte/js/online/buttons.colVis.min.js"></script>
        <script src="/public/adminlte/js/online/dataTables.select.min.js"></script>
        <script src="/public/adminlte/js/online/jquery-ui.min.js"></script>



        <script src="/public/adminlte/js/bootstrap.min.js"></script>
        <script src="/public/adminlte/js/select2.full.min.js"></script>
        <script src="/public/adminlte/js/main.js"></script>

        <script src="/public/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="/public/adminlte/plugins/fastclick/fastclick.js"></script>
        <script src="/public/adminlte/js/app.min.js"></script>

        <script src="/public/js/sweetalert-dev.js"></script>


        <script>
            // window._token = 'Zw1eYq4tsFJFwBA8kJfLb6fP8Lt3xu69dsUILDfj';

            var csrfToken = $('[name="csrf_token"]').attr('content');

            setInterval(refreshToken, 600000); // 1 hour 

            function refreshToken() {
                $.get('refresh-csrf').done(function(data) {
                    csrfToken = data; // the new token
                });
            }

            setInterval(refreshToken, 600000); // 1 hour
        </script>

        <script>
            $.extend(true, $.fn.dataTable.defaults, {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/English.json"
                }
            });
        </script>



        <script>
            $(document).ready(function() {
                $(".notifications-menu").on('click', function() {
                    if (!$(this).hasClass('open')) {
                        $('.notifications-menu .label-warning').hide();
                        $.get('internal_notifications/read');
                    }
                });
            });
        </script>


        <script src="/public/js/angular.js"></script>
        <script src="/public/js/angular-messages.js"></script>

        <script>
            app = angular.module('academia', ['ngMessages']);
            app.directive('stringToNumber', function() {
                return {
                    require: 'ngModel',
                    link: function(scope, element, attrs, ngModel) {
                        ngModel.$parsers.push(function(value) {
                            return '' + value;
                        });
                        ngModel.$formatters.push(function(value) {
                            return parseFloat(value);
                        });
                    }
                };
            });
            app.directive('input', function($parse) {
                return {
                    restrict: 'E',
                    multiElement: true,
                    require: '?ngModel',
                    link: function(scope, element, attrs) {
                        e = element[0];

                        if (attrs.ngModel && attrs.value) {
                            $parse(attrs.ngModel).assign(scope, attrs.value);
                        }
                    }
                };
            });

            app.directive('textarea', function($parse) {
                return {
                    restrict: 'E',
                    multiElement: true,
                    require: '?ngModel',
                    link: function(scope, element, attrs) {
                        e = element[0];
                        // console.log(element[0].value);
                        if (attrs.ngModel && e.value) {
                            $parse(attrs.ngModel).assign(scope, e.value);
                        }
                    }
                };
            });
            app.directive('select', function($parse) {
                return {
                    restrict: 'E',
                    multiElement: true,
                    require: '?ngModel',
                    link: function(scope, element, attrs) {
                        e = element[0];
                        selectedValue = e.options[e.selectedIndex].value;
                        // console.log(selectedValue);
                        if (attrs.ngModel && selectedValue) {
                            $parse(attrs.ngModel).assign(scope, selectedValue);
                        }
                    }
                };
            });

            /**
             * PASSWORD AND CONFIRM PASSWORD FIELDS VALIDATION DIRECTIVE
             * @return  {[type]} [description]
             */
            var compareTo = function() {
                return {
                    require: "ngModel",
                    scope: {
                        otherModelValue: "=compareTo"
                    },
                    link: function(scope, element, attributes, ngModel) {

                        ngModel.$validators.compareTo = function(modelValue) {
                            return modelValue == scope.otherModelValue;
                        };

                        scope.$watch("otherModelValue", function() {
                            ngModel.$validate();
                        });
                    }
                };
            };

            app.directive("compareTo", compareTo);

            /**
             * FILE VALIDATION DIRECTIVES BEFORE UPLOAD
             */

            var validImage = function($rootScope) {
                var validFormats = ['jpg', 'png', 'jpeg'];
                return {
                    require: "ngModel",
                    scope: {
                        otherModelValue: "=validImage"
                    },
                    link: function(scope, element, attributes, ngModel) {
                        $rootScope.isImageValid = 'true';
                        // console.log(element);
                        ngModel.$validators.validImage = function(modelValue) {

                            element.on('change', function() {

                                // e = element[0];
                                // fileObject = $.parseJSON(e.files);
                                // console.log(e.files);
                                file_size = this.files[0].size;
                                console.log(file_size);
                                valid_size = true;

                                var value = element.val(),
                                    ext = value.substring(value.lastIndexOf('.') + 1).toLowerCase();
                                console.log(validFormats.indexOf(ext) !== -1);
                                $rootScope.isImageValid = validFormats.indexOf(ext) !== -1;
                                $rootScope.$apply();
                                console.log(" $rootScope.isImageValid   " + $rootScope.isImageValid);
                                if (file_size > 2000000) {

                                    return false;
                                } else {
                                    return validFormats.indexOf(ext) !== -1;
                                }
                            });
                        };


                    }
                };
            };
            app.directive("validImage", validImage);
        </script>
        <link rel="stylesheet" href="/public/css/alertify/themes/alertify.core.css">
        <link rel="stylesheet" href="/public/css/alertify/themes/alertify.default.css" id="toggleCSS">

        <script src="/public/js/alertify.js"></script>





        <div class="ajax-loader" style="display:none;" id="ajax_loader"><img src="/public/images/ajax-loader.svg"> please_wait...</div>
</body>

</html>